<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"
            defer></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
</head>
<body>
<p>AAAA </p>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button"
                        data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show"
             aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="drag-list">

                        <!--  NEW COLUMN -->
                        <li class="drag-column new-column">
                            <span class="header"><h1>NEW</h1></span>
                            <!-- content of new column-->
                            <div id="new-content" class="custom-scroll">
                                <ul class="drag-item-list" id="new-list">
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                </ul>
                            </div>
                            <!-- add button group-->
                            <div class="add-btn-group">
                                <div class="add-btn">
                                    <span class="plus-sign">+</span>
                                    <span>Add Item</span>
                                </div>
                                <div class="add-btn solid">
                                    <span>Save Item</span>
                                </div>
                                <div class="add-container">
                                    <div class="add-item"></div>
                                </div>
                            </div>
                        </li>

                        <!--  IN-PROGRESS COLUMN -->
                        <li class="drag-column progress-column">
                            <span class="header"><h1>PROGRESS</h1></span>
                            <!-- content of progress column-->
                            <div id="progress-content" class="custom-scroll">
                                <ul class="drag-item-list" id="progress-list">
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                </ul>
                            </div>
                            <!-- add button group-->
                            <div class="add-btn-group">
                                <div class="add-btn">
                                    <span class="plus-sign">+</span>
                                    <span>Add Item</span>
                                </div>
                                <div class="add-btn solid">
                                    <span>Save Item</span>
                                </div>
                                <div class="add-container">
                                    <div class="add-item"></div>
                                </div>
                            </div>
                        </li>

                        <!--  TESTING COLUMN -->
                        <li class="drag-column test-column">
                            <span class="header"><h1>TESTING</h1></span>
                            <!-- content of testing column-->
                            <div id="test-content" class="custom-scroll">
                                <ul class="drag-item-list" id="test-list">
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                </ul>
                            </div>
                            <!-- add button group-->
                            <div class="add-btn-group">
                                <div class="add-btn">
                                    <span class="plus-sign">+</span>
                                    <span>Add Item</span>
                                </div>
                                <div class="add-btn solid">
                                    <span>Save Item</span>
                                </div>
                                <div class="add-container">
                                    <div class="add-item"></div>
                                </div>
                            </div>
                        </li>

                        <!--  DONE COLUMN -->
                        <li class="drag-column done-column">
                            <span class="header"><h1>DONE</h1></span>
                            <!-- content of done column-->
                            <div id="done-content" class="custom-scroll">
                                <ul class="drag-item-list" id="done-list">
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                    <li class="drag-item">TEST</li>
                                </ul>
                            </div>
                            <!-- add button group-->
                            <div class="add-btn-group">
                                <div class="add-btn">
                                    <span class="plus-sign">+</span>
                                    <span>Add Item</span>
                                </div>
                                <div class="add-btn solid">
                                    <span>Save Item</span>
                                </div>
                                <div class="add-container">
                                    <div class="add-item"></div>
                                </div>
                            </div>
                        </li>

                    </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed"
                        type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
             data-parent="#accordionExample">
            <div class="card-body">
                Some placeholder content for the second accordion panel. This
                panel is hidden by default.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed"
                        type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                    Collapsible Group Item #3
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
             data-parent="#accordionExample">
            <div class="card-body">
                And lastly, the placeholder content for the third and final
                accordion panel. This panel is hidden by default.
            </div>
        </div>
    </div>
</div>
<script>
    $.getJSON("{{ url_for("api.list_boards") }}",undefined, function (data) {
				$('p').append(data.firstName)});
</script>
</body>
</html>