<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/main.css') }}">
    {#    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"#}
    {#            defer></script>#}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="accordion" id="accordionExample">
    <div class="card board basic">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left board-collapse"
                        type="button"
                        data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    <span class="board-title"></span>
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse board-inside"
             aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="drag-list">

                    <!--  NEW COLUMN -->
                    <li class="drag-column new-column">
                        <span class="header"><h1>NEW</h1></span>
                        <!-- content of new column-->
                        <div id="new-content" class="custom-scroll">
                            <ul class="drag-item-list" id="new-list">
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                            </ul>
                        </div>
                        <!-- add button group-->
                        <div class="add-btn-group">
                            <div class="add-btn">
                                <span class="plus-sign">+</span>
                                <span>Add Item</span>
                            </div>
                            <div class="add-btn solid">
                                <span>Save Item</span>
                            </div>
                            <div class="add-container">
                                <div class="add-item"></div>
                            </div>
                        </div>
                    </li>

                    <!--  IN-PROGRESS COLUMN -->
                    <li class="drag-column progress-column">
                        <span class="header"><h1>PROGRESS</h1></span>
                        <!-- content of progress column-->
                        <div id="progress-content" class="custom-scroll">
                            <ul class="drag-item-list" id="progress-list">
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                            </ul>
                        </div>
                        <!-- add button group-->
                        <div class="add-btn-group">
                            <div class="add-btn">
                                <span class="plus-sign">+</span>
                                <span>Add Item</span>
                            </div>
                            <div class="add-btn solid">
                                <span>Save Item</span>
                            </div>
                            <div class="add-container">
                                <div class="add-item"></div>
                            </div>
                        </div>
                    </li>

                    <!--  TESTING COLUMN -->
                    <li class="drag-column test-column">
                        <span class="header"><h1>TESTING</h1></span>
                        <!-- content of testing column-->
                        <div id="test-content" class="custom-scroll">
                            <ul class="drag-item-list" id="test-list">
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                            </ul>
                        </div>
                        <!-- add button group-->
                        <div class="add-btn-group">
                            <div class="add-btn">
                                <span class="plus-sign">+</span>
                                <span>Add Item</span>
                            </div>
                            <div class="add-btn solid">
                                <span>Save Item</span>
                            </div>
                            <div class="add-container">
                                <div class="add-item"></div>
                            </div>
                        </div>
                    </li>

                    <!--  DONE COLUMN -->
                    <li class="drag-column done-column">
                        <span class="header"><h1>DONE</h1></span>
                        <!-- content of done column-->
                        <div id="done-content" class="custom-scroll">
                            <ul class="drag-item-list" id="done-list">
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                                <li class="drag-item">TEST</li>
                            </ul>
                        </div>
                        <!-- add button group-->
                        <div class="add-btn-group">
                            <div class="add-btn">
                                <span class="plus-sign">+</span>
                                <span>Add Item</span>
                            </div>
                            <div class="add-btn solid">
                                <span>Save Item</span>
                            </div>
                            <div class="add-container">
                                <div class="add-item"></div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    let boards = [];
    $.getJSON("/api/boards", undefined, function (data) {
        console.log(data);
        boards = data;
        console.log(boards);
        console.log(boards.length);
        for (var i = 0, len = boards.length; i !== len; i++) {
            console.log(boards[i]);
            console.log("AAAAA");
            duplicate(boards[i], i)
            console.log("////////"+i);
            if (boards.length === i+1) {
                console.log("BASIC");
                document.getElementsByClassName("basic")[0].remove();
            }
        }
        console.log("2");

    });

    function duplicate(item, index) {
        let original = document.getElementsByClassName("basic")[0];
        console.log("3");
        console.log(item);
        var clone = original.cloneNode(true); // "deep" clone
        clone.id = "board" + item.id; // there can only be one element with an ID
        {#clone.firstChild.firstChild.firstChild.innerHTML = item.title;#}
        original.parentNode.appendChild(clone);
        document.getElementsByClassName("board-title")[index].innerHTML = item.title;
        document.getElementsByClassName("board-collapse")[index].dataset.target = "#board-collapse-" + item.id;
        document.getElementsByClassName("board-inside")[index].id = "board-collapse-" + item.id;
        document.getElementsByClassName("basic")[index] = "board-collapse-" + item.id;

    }

</script>
</body>
</html>